<div class="page-container d-flex column">
  <section class="d-flex row full-width chat-area">
    <user-one class="flex-1"></user-one>
    <user-two class="flex-1"></user-two>
  </section>

  <section class="full-width flex-1">
    <display-component></display-component>
  </section>
</div>
