<div class="full-width d-flex column display-container">
  <p>
    <span class="title">Encrypted Message: </span>
    {{ encryptedMessage() }}
  </p>
  <p *ngIf="lastMessage() as lastMessage">
    <span class="title">Message: </span>
    {{ lastMessage.message }} (sent by
    {{ lastMessage.user ? "User 1" : "User 2" }})
  </p>
</div>
