.title {
  font-weight: 700;
}

.display-container {
  padding: 4px 8px;
  justify-content: space-evenly;
  height: 100%;
}

p {
  margin: 0;
  padding: 6px 0;
}

.gap-2 {
  gap: 2rem;
}

.gap-1 {
  gap: 4px;
}
