@import 'src/app/styles/vars.scss';

.user-section {
  background-color: $grey;
  height: 100%;
}

.text {
  padding: 8px 4px;
}

.message-container {
  margin: 8px 0;
}

.messages-section {
  overflow-y: scroll;
  overflow-x: hidden;
}

.message {
  padding : 4px 8px;
  border-radius: 4px;
  width: 60%;
  margin: 0 8px;
  white-space: wrap;
}

.blue {
  background-color: $blue;
}

.black {
  background-color: $black;
  p {
    color: $white;
  }
}

.user {
  font-weight: 700;
  padding: 0 4px;
}

.no-resize {
  resize: none;
}
