<div class="user-section d-flex column">
  <section class="messages-section d-flex column flex-1">
    <div
      class="full-width d-flex row message-container"
      [ngClass]="message.user ? 'start' : 'end'"
      *ngFor="let message of messageHistory()"
    >
      <div class="message" [ngClass]="message.user ? 'black' : 'blue'">
        <p>
          <span class="user">{{ message.user ? "User 1: " : "User 2: " }}</span>
          {{ message.message }}
        </p>
      </div>
    </div>
  </section>

  <section class="text">
    <textarea
      rows="2"
      cols="30"
      pInputTextarea
      class="full-width no-resize"
      placeholder="User 2 Message..."
      [formControl]="textAreaControl"
      (keyup.enter)="sendMessage()"
    ></textarea>
  </section>
</div>
