/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
  background-color: #f2f2f2;
  // border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3fabee !important;
  // border-radius: 5px;
}
